*.zip
*.pyd
*.fbs
*.pyc
__pycache__/
venv/
.DS_Store
*.log
*.tmp
DSTerminal_Portable_*.zip
*.exe
*.dll

# Environment variables
.env
*.env
*.key
*.secret

.vs/
.vscode/
build/
dist/
venv/
__pycache__/
temp/nikto/
temp/sqlmap/
