[Unit]
Description=DSTerminal Service
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/dsterminal
RemainAfterExit=yes
Restart=no
User=root
Group=root
WorkingDirectory=/var/lib/dsterminal
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
